<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>

    <link href="css/styles.css" rel="stylesheet">
</head>
<body>

    <div class="box" id="heading">
        <!-- display current date  -->
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <!-- display to do list items -->
    
        <% newListItems.forEach(listItem => {%> 
            <div class="item">
                <input type="checkbox">
                <p><%= listItem %> </p>
            </div>
        <% }); %> 

        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>



    <!-- add item to do list -->

</body>
</html>